body{
    background-color: #d5e1ef;
}

div {
    width: 320px;
        background-color: white;
        margin: auto;
        padding: 16px;
        border-radius: 20px;
        margin-top: 152px;
}

img{
    max-width: 100%; 
    border-radius: 10px;
}

h1{
    font-size: 22px;
          text-align: center;
          font-weight: 700;
          line-height: 27.72px;
          color: #1f314f;
          width: 288px;
          height: 56px;
          margin-left: 13px;
}

p{
    font-size: 15px;
          text-align: center;
          font-weight: 400px;
          line-height: 19px;
          color: #7d889e;
          width: 256px;
          height: 57px;
          top: 72px;
          margin-left: 17px;
          left: 16;
          letter-spacing: 0.1875px;
}